<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.jboss.org/dtd/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		
		<!-- for local env -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/admin_test?characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull&amp;autoReconnect=true</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.autocommit">false</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="show_sql">false</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<property name="connection.pool_size">10</property>
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="hibernate.cache.use_query_cache">false</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>
		
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>        
		<property name="hibernate.c3p0.acquire_increment">10</property>
		<property name="hibernate.c3p0.idle_test_period">300</property>
		<property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.max_size">100</property>
		<property name="hibernate.c3p0.max_statements">500</property>
		<property name="hibernate.c3p0.timeout">0</property>
		<property name="hibernate.c3p0.acquireRetryAttempts">5</property>
		<property name="hibernate.c3p0.acquireRetryDelay">300</property>
		
	</session-factory>
</hibernate-configuration>